body {
    font-family: Arial, sans-serif;
    background-color: #0abfec;
    text-align: center;
    padding: 50px;
}

.container {
    background-color: white;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 15px;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#outputSection {
    margin-top: 30px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#outputText {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}